* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  line-height: 1.2em;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}

body,
button,
input {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
    arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 4px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 4px;
}

h3 {
  color: #666;
  font-size: 14px;
}

a {
  color: blue;

  &:focus {
    outline: black 2px solid;
  }
}

#main {
  max-width: 1200px;
  margin: 100px auto;
  padding: 0 20px;
}

.header {
  position: relative;
  padding-left: 90px;

  img {
    position: absolute;
    top: 5px;
    left: 0;
  }
}

.text-center {
  text-align: center;
}

.p20 {
  padding: 20px;
}

.p50 {
  padding: 50px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}
.mb50 {
  margin-bottom: 50px;
}


.carousel {
  position: relative;
  // margin: 0 -10px;

  &__runner {
    display: flex;
    width: 10000px
  }

  &__pager {
    margin-top: 10px;
    text-align: center;

    &__nav {
      display: inline-block;
      width: 12px;
      height: 12px;
      background: #333;
      border: 0;
      text-indent: -6000px;
      margin: 0 5px;
      transition: all ease 0.2s;
      cursor: pointer;

      &--active {
        background-color: #ccc;
        width: 24px;
        cursor: default;
      }

      &:hover {
        background-color: #000;
      }

      &:focus {
        outline: 4px blue solid;
      }

      &:disabled {
        background: #ccc;
      }
    }
  }

  &__nav {
    position: absolute;
    width: 50px;
    height: 60px;
    line-height: 60px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: 0;
    background: #333;
    color: #fff;
    z-index: 1;
    font-size: 25px;
    transition: all ease 0.3s;
    
    &:hover {
      background: #000;
    }

    &:disabled {
      background: #fff;
      color: #333;
    }

    &:focus {
      outline: 4px blue solid;
    }
  
    &--previous {
      right: 50px;
    }
    
    &--next {
      right: 0;
    }
  }

  &__slide {
    opacity: 0.5;
    transition: all ease 0.2s;
    // transform: scale(0.75, 0.75);
    // padding: 0 10px;
    display: flex;
    flex-direction: column;

    &--active {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
}

.tile {
  height: 100px;
}

.card {
  transition: opacity ease 0.6s;
  // padding: 0 16px;
  display: flex;
  flex-direction: column;
  height: 100%;

  &--active {
    opacity: 1;
  }

  &__style {
    background: #efefef;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1;
  }

  &__title {
    padding: 16px;
  }

  &__image {
    img {
      width: 100%;
      aspect-ratio: 3 / 2;
    }
  }

  &__text {
    padding: 16px;
    font-size: 14px;
    font-style: italic;
  }

  &__actions {
    margin-top: auto;
    padding: 0 16px 16px 16px;

    button {
      padding: 2px 5px;
      text-transform: uppercase;
      text-decoration: none;
      background: none;
      border: 0;
      border-radius: 2px;
      color: blue;
      font-weight: 600;
      cursor: pointer;
      transition: background ease 0.2s;

      &:hover {
        background: #efefef;
      }

      &:focus {
        outline: black 2px solid;
      }

      & + & {
        margin-left: 16px;
      }
    }
  }
}

.button {
  border: 0;
  border-radius: 25px;
  padding: 10px 30px;
  font-size: 18px;
  background: transparent;
  // font-weight: 500;
  cursor: pointer;
  transition: background ease 0.2s;
  // font-style: italic;
  background-color: #efefef;

  &:hover {
    background-color: #ddd;
  }

  &:focus {
    outline: blue 2px solid;
  }
}
